[package]
name = "xtask"
edition.workspace = true
license.workspace = true
authors.workspace = true
description.workspace = true
readme.workspace = true
repository.workspace = true

[dependencies]
xshell.workspace = true
anyhow.workspace = true
demand.workspace = true