name: CI
on: [pull_request]

jobs:
  build:
    runs-on: macos-26

    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - uses: Swatinem/rust-cache@5e4a76743357a1c3c57315bc1896d2c7f89d6861

      - name: Run build
        run: cargo run -p xtask -- build

      - name: Run all tests
        run: cargo run -p xtask -- test
